.logo {
  color: white;
  height: 64px;
  line-height: 64px;
  padding-left: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu {
  /* background-color: #f3f; */
  height: calc(100vh - 112px);
  overflow-y: scroll;
  /* overflow-y: overlay; */
}
