@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~antd/dist/antd.css';

@import './style/react-calendar-heatmap.css';
body {
  overflow-y: hidden;
  font-size: 16px;
}
:root {
  --mainColor: red;
  --blue: blue;
}
a {
  color: var(--blue);
}
