@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~antd/dist/antd.css';

@import './style/react-calendar-heatmap.css';
body {
  overflow-y: hidden;
  font-size: 16px;
}
:root {
  --mainColor: red;
  --blue: blue;
}
a {
  color: var(--blue);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e7e5e4;
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a8a29e;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #78716c;
}
